pkgbase = jjaeng
	pkgdesc = Hyprland screenshot preview and editor utility
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/chllming/Jjaeng
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = rust
	makedepends = cargo
	makedepends = pkgconf
	makedepends = gtk4
	makedepends = cmake
	makedepends = clang
	makedepends = git
	depends = gtk4
	depends = hyprland
	depends = grim
	depends = slurp
	depends = wl-clipboard
	optdepends = jjaeng-ocr-models: OCR text recognition support
	options = !lto
	source = jjaeng-0.6.0.tar.gz::https://github.com/chllming/Jjaeng/archive/refs/tags/v0.6.0.tar.gz
	sha256sums = SKIP

pkgname = jjaeng
